<a href="https://colab.research.google.com/github/banigoamy/HAMOYE1/blob/readme-edits/STAGE_A_QUIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STAGE A QUIZ**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

**Question1**

In [10]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B = A.append(B)
print(A_B)

None

In [ ]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B = A.extend(B)
print(A_B)

**Question 2**

In [11]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
np.array[(1,0,0),(0,1,0),(0,0,1)]

TypeError: ignored

In [13]:
np.array([1,0,0],[0,1,0],[0,0,1])

ValueError: ignored

**Question 3**

In [16]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].describe()

                       count         mean  ...       75%         max
fuel_type_code_pudl                        ...
coal                  8547.0    67.421830  ...  44.66800   44033.320
gas                  11486.0    13.659397  ...   6.96000   10490.000
nuclear                818.0  4955.157002  ...  50.85525   69785.215
oil                   8064.0   168.877086  ...  98.68925  139358.000
other                  167.0    18.253856  ...  20.05500     134.547
waste                  441.0    19.518122  ...  32.65000     132.291

[6 rows x 8 columns]

**Question 4**

In [18]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

**Question 5**

In [24]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [25]:
fuel_data['fuel_qty_burned'].kurtosis()

651.3694501337732

**Question 6**

In [19]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
#%missing values wrt total no of rows 
x = (180/29523)*100
print(x)

0.609694136774718

**Question 8**

In [26]:
fuel_data.corr(method='pearson')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

**Question 9**

In [33]:
grouping = fuel_data.groupby('fuel_type_code_pudl')
group1 = grouping.get_group('coal')
group1

                      record_id  ...  fuel_cost_per_mmbtu
0         f1_fuel_1994_12_1_0_7  ...                1.121
1        f1_fuel_1994_12_1_0_10  ...                1.120
2         f1_fuel_1994_12_2_0_1  ...                1.650
3         f1_fuel_1994_12_2_0_7  ...                1.970
5        f1_fuel_1994_12_2_0_13  ...                1.850
...                         ...  ...                  ...
29503  f1_fuel_2018_12_191_1_14  ...                1.497
29510   f1_fuel_2018_12_403_0_2  ...                1.130
29516    f1_fuel_2018_12_12_0_8  ...                1.100
29517   f1_fuel_2018_12_12_0_10  ...                0.890
29521   f1_fuel_2018_12_12_1_13  ...                1.110

[8547 rows x 11 columns]

In [38]:
grouping = group1.groupby('report_year')
group2 = grouping.get_group(1994)
group2['fuel_cost_per_unit_burned'].sum()

14984.572000000002

In [40]:
grouping = group1.groupby('report_year')
group3 = grouping.get_group(1998)
group3['fuel_cost_per_unit_burned'].sum()

11902.597

In [43]:
#calculating % change 
c = ((11902.597 - 14984.572)/14984.572)*100
c

-20.567654518260518

**Question 10**

In [22]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].describe()

              count          mean  ...        75%          max
report_year                        ...
1994         1235.0     63.636060  ...   30.91000    45115.000
1995         1201.0     32.735269  ...   29.79000     2396.770
1996         1088.0   9196.705948  ...   30.57250  7793482.000
1997         1094.0  11140.197239  ...   29.10400  7964521.000
1998         1107.0    287.154420  ...   24.78000   270604.000
1999         1050.0     25.551627  ...   26.12300     2891.100
2000         1373.0    985.362877  ...   36.28800  1168000.000
2001         1356.0     60.050396  ...   35.78250    34381.000
2002         1205.0     47.594361  ...   31.96000    31416.000
2003         1211.0     55.663493  ...   37.44100    34518.000
2004         1192.0    139.524275  ...   45.84025   132884.000
2005         1269.0     41.438184  ...   62.13000     8651.000
2006         1243.0     38.657484  ...   68.49700     1431.000
2007         1264.0     43.325023  ...   72.66500     4850.872
2008         1228.0     58.588197  ...   80.97925    10490.000
2009         1222.0    652.694163  ...   71.45950   730166.000
2010         1261.0     91.862105  ...   86.36000    44033.320
2011         1240.0     59.774667  ...   92.69675     9545.000
2012         1243.0     60.994502  ...   99.53500    10129.000
2013         1199.0    172.307591  ...   90.49000   135315.000
2014         1171.0    192.737183  ...  103.24750   136410.000
2015         1093.0    326.535511  ...   67.46000   140706.000
2016         1034.0    103.901761  ...   54.04875    69440.000
2017          993.0     46.196861  ...   62.93000     3584.335
2018          951.0    499.269966  ...   70.43900   245652.000

[25 rows x 8 columns]